<!doctype html>
<html lang="en">
    <head>
        <title>testing</title>
    </head>
    <body>
	<h1>Hi {{username}}</h1>

   	<form action="/" method="POST">
	category: <BR><input type="text" name="category" size=40 value="{{cate}}"><BR>
	title   : <BR><input type="text" name="title" size=40 value="{{title}}"><BR>
	detail  : <BR><input type="text" name="detail" size=40 autofocus value="{{deta}}"><BR>
        <input type="submit" name="shelltest" value="ADD"><BR>
	<textarea name="comments" cols="80" rows="10" style="font-size:16px">{{msg}}</textarea><br>
	<textarea name="comments" cols="80" rows="12" style="font-size:16px">{{msg2}}</textarea><br>
	</form>

    </body>
</html>
